html,body{
	height: 100%;
}
body {
	/*background:lightblue;*/
	background: linear-gradient(#fff,#009CFF, #006CFF);
}

.caja{
	background:tomato;
	border-radius:50%;
	box-shadow: 0.5em 0.5em 0.5em rgba(0,0,0,0.5);
	height: 400px;
	margin:0 auto;
	width: 20%;
	transition:all linear 3s;
}
.caja:hover{
	background:gold;
	border-radius:0;
	cursor:pointer;
}